source https://www.nuget.org/api/v2
source https://ci.appveyor.com/nuget/nancy-rdf-kh5o73kjrn37
source https://ci.appveyor.com/nuget/jsonld-entities-aavhsnxi7xjp

framework: net40, net45
content: none
redirects: on
copy_local: true

nuget fakeiteasy
nuget GitVersionTask
nuget JetBrainsAnnotations.Fody
nuget JsonLd.Entities prerelease
nuget Microsoft.Owin.Host.SystemWeb
nuget Microsoft.Owin.Hosting
nuget Nancy
nuget Nancy.Owin
nuget Nancy.Testing
nuget NullGuard.Fody
nuget Resourcer.Fody
nuget StyleCopPlus.MSBuild
nuget xunit
nuget fluentassertions
nuget TunnelVisionLabs.Net.UriTemplate prerelease
nuget GitLink
nuget Rdf.Vocabularies
nuget dotnetrdf
nuget json-ld.net
nuget nancy.rdf = 0.2.0-pre0049
nuget OpenCover
nuget xunit.runner.console
nuget ImpromptuInterface

http https://gist.githubusercontent.com/tpluscode/5d9c6983004c1c9ec91f/raw/2a5f0785c2686635f1b8ab21af1751d276d02727/vocabulary.tt

http https://raw.githubusercontent.com/HydraCG/Specifications/master/spec/latest/core/core.jsonld
http http://rdf-translator.appspot.com/convert/json-ld/xml/https%3A%2F%2Fraw.githubusercontent.com%2FHydraCG%2FSpecifications%2Fmaster%2Fspec%2Flatest%2Fcore%2Fcore.jsonld hydra.rdf