type project
id Argolis.Models
include-pdbs true
excludeddependencies
  GitVersionTask
iconUrl
  https://raw.githubusercontent.com/wikibus/Argolis/master/assets/logo.png
tags
  rdf rest nancy semantic web
copyright 
  Copyright 2016 Tomasz Pluskiewicz
licenseUrl
  http://www.opensource.org/licenses/mit-license.php
projectUrl
  http://github.org/wikibus/Argolis