type project
id Argolis.UriTemplates.Nancy
excludeddependencies
  GitVersionTask
dependencies
  Nancy.Routing.UriTemplates >= LOCKEDVERSION
iconUrl
  https://raw.githubusercontent.com/wikibus/Argolis/master/assets/logo.png
tags
  argolis rfc6570 uritempates
copyright 
  Copyright 2016 Tomasz Pluskiewicz
licenseUrl
  http://www.opensource.org/licenses/mit-license.php
projectUrl
  http://github.org/wikibus/Argolis